body {
    overflow: hidden;
}

.page-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}


.background-image {
    width: 100%;
}

.button-wrapper {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    min-width: 50%;
    min-height: 50%;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.6);
    padding: 5em
}

.button-wrapper-content {
    color: white;
}


.top-menu-buttons {
    display:flex;
    justify-content: space-between;
    
}


.menu-button {
    color: white;
    background-color:#09497A;
    cursor: pointer;
    padding: 2em;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.2rem black);
}

.button-img-container {
    display:flex;
    justify-content: center;
    background-color: #2D495F;
    margin-bottom: 1em;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.15rem black);
}
