body {
    overflow: hidden;
}

.page-wrapper {
    position: relative;
}


.background-image {
    width: 100%;
}

.button-wrapper {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.6);
    top: 33%;
    left: 33%;
    padding: 5em
}

.button-wrapper-content {
    color: white;
}

.button-wrapper-content button {
    color: white;
    background-color:#09497A;
    cursor: pointer;
    padding: 2em;
    border-radius: 10px;
    filter: drop-shadow(0 0 0 black);
}

.menu-buttons {
    display:flex;
    justify-content: space-between;
    
}
