body {
    overflow: hidden;
}

.menu-page-wrapper {
    width: 1920px;
    height: 1080px;
    position: relative;
    background-image: url(../../images/menu/townBg-effects.png);
    background-repeat: no-repeat;
    background-size: 80%;
}




.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    min-width: 50%;
    min-height: 50%;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.6);
    padding: 2em;
    left: 10%;
}

.button-wrapper-content {
    color: white;
}

.menu-title {
    text-align: center;
    filter: drop-shadow(0 0 0.5rem black);
}


.top-menu-buttons {
    display:flex;
    justify-content: space-between; 
}

.bottom-menu-buttons {
    display: flex;
    justify-content: space-evenly;
}

.top-menu-buttons :hover {
    filter: drop-shadow(0 0 0.2rem yellow);
}

.bottom-menu-buttons :hover {
    filter: drop-shadow(0 0 0.2rem yellow);
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color:#09497A;
    cursor: pointer;
    padding: 2em;
    margin: 1em;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.2rem black);
    width: 500px;
}

.button-text {
    pointer-events: none;
    filter: drop-shadow(0 0 0.2rem black);
}

.button-img-container {
    display:flex;
    height: 100px;
    width: 120px;
    padding: 0.5em;
    justify-content: center;
    background-color: #2D495F;
    margin-bottom: 2em;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.15rem black);
    pointer-events: none;
}

.button-img-container img {
    height: 75px;
    width: auto;
}
