.char-select-page-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #48C0C8;
    display: flex;
    justify-content: center;
}

.select-pokemon-wrapper {
    background-color: #88D8D8;
    width: 90%;
    height: 90%;
    margin-top: 2.5rem;
    padding: 0.5em;
    overflow-x: auto;
    overflow-y: auto;
    /* no scrollbar IE 10+ and firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: start;

}

.select-pokemon-wrapper::-webkit-scrollbar {
    display: none;
    /*safari and chrome */
}

.pokemon-card-container {
    background-color: #68D870;
    border: 4px solid #004800;
    margin: .33em;
    padding: .5em;
    min-height: 200px;
    cursor: pointer;
    flex: 0 0 32.56%;
    display: flex;


}

.select-card-wrapper {
    background: #009038;
    min-width: 100%;
    min-height: 100%;
    position: relative;

}

.select-card-wrapper h1 {

    color: white;
    filter: drop-shadow(0 0 0.3rem black);
    margin: 0;
    margin-top: 1em;
    margin-right: 0.5em;

}

.pokemon-card-content {
    display: flex;
}

.select-pkmn-image {
    height: 150px;
    width: 150px;
    margin: 0.5em;
}

.select-pkmn-type {
    height: 50px;
    width: 75px;
    position: absolute;
    left: 28%;
    top: 35%;
    transform: translate(28%, 35%);
}